* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin: 25px;
  padding: 10px;
  border-top: solid 1px #413f3f;
}
h3 {
  text-align: center;
}
p {
  text-align: center;
  margin: 25px;
  font-size: large;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #e6d5d5;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  background-color: #e9e6e6;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 7px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  margin: 10px;
  padding: 10px 40px;
  border: none;
  border-radius: 6px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;

  &:hover {
    --opacity: 0.7;
    background-color: #63c566;

    &:active {
      opacity: 0.9;
      background-color: #a2cca4;
    }
  }
}

.modal {
  display: var(--modal-display, none);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(185, 90, 90, 0.5); /* Прозрачный черный фон */
}

.form-group {
  margin-bottom: 20px;
}

.error {
  color: red;
}
